/* antique looking rgb colors for background and for btn s */

.container {
  width: 100vw;
  height: 100vh;
  display: block;
  /*flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  gap: 6px; 
  
  flexbox will come later when the js logic is set
  */
}

.row1 {
  position: absolute;
  top: 30%;
  left: 40%;
}
.row2 {
  position: absolute;
  top: 35%;
  left: 40%;
}
.row3 {
  position: absolute;
  top: 40%;
  left: 40%;
}
.row4 {
  position: absolute;
  top: 45%;
  left: 40%;
}
